@font-face {
	font-family: 'Khmer UI';
	src: url('KhmerUI.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Khmer UI bold';
	src: url('KhmerUIb.ttf');
	font-weight: bold; 
	font-style: normal;
	}

	
* { transition: all 0.6s ease; white-space: nowrap; }
body { margin: 0; }

#content {  
	background: url('../images/bottom_banner.png') no-repeat left bottom;
	width: 100%; height: 100%; 
	/*opacity: 0;*/
	}
#footer {
	/*opacity: 0;*/
	}

#layout { 
	width: 1280px; height: 720px; 
	background: url('../images/top_banner.png') no-repeat left top;
	overflow: hidden; 
	position: relative; 
	font-family: 'Khmer UI bold';
	color: white;
	text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
	}

#p1, #p2 { width: 640px; height: 110px; position: absolute; display: inline-block; }
#p1 *, #p2 * { line-height: 160%; }
#p1 { left: 0px; }
#p2 { left: 640px; }
	
#p1_name, #p2_name { 
	position: absolute; 
	font-size: 30px; 
	width: 400px; 
	height: 30px; 
	top: 8px; 
	vertical-align: middle;
	}
#p1_name, #p1_deck {
	text-align: left;
	left: 30px;
	}
#p2_name, #p2_deck{
	text-align: right;
	right: 30px;
	}
	
.player .player_subtitle {
	position: absolute; 
	top: 70px;
	font-size: 20px;
	top: 65px; 
	}
#p1 .player_subtitle { left: 30px; }
#p2 .player_subtitle { right: 30px; }
#p1_deck, #p2_deck { display: inline; }
#p1_record, #p2_record { color: #EA762D; display: inline; }

#p1_life, #p2_life, #p1_games, #p2_games { 
	position: absolute; 
	font-size: 36px; 
	text-align: center;
	width: 70px;
	top: 52px; 
	}
#p1_games, #p2_games { top: 4px; }
#p1_life, #p1_games { right: 100px; }
#p2_life, #p2_games { left: 100px; }

.poison { opacity: 0; }
#p1_poison, #p2_poison {
	width: 41px;
	height: 44px; 
	padding-top: 6px;
	padding-left: 10px;
	position: absolute;
	
	background: url('../images/poison_counter.png') no-repeat center top; 
	background-size: 100% auto;
	color: #8A9245;
	font-size: 26px;
	
	top: 45px;
	
	/*opacity: 0;*/
	}
#p1_poison {
	right: 160px;
	}
#p2_poison {
	left: 160px;
	}
	
	
#footer { 
	position: absolute;
	bottom: 0px; 
	width: 1280px;
	height: 23px; 
	}
#footer * { line-height: 120%; }
#event_name { position: absolute; left: 10px; bottom: 2px; }

#commentary { 
	position: absolute; 
	left: 0;
	bottom: 2px;
	width: 1280px;
	text-align: center;
	}
#commentary div { display: inline; }

#headset_icon { 
	background: url('../images/headset.png') no-repeat center center;
	background-size: auto 100%; 
	width: 21px; 
	height: 21px;
	padding: 0 18px; 
	}


#timer { 
	position: absolute; 
	left: 0px; 
	bottom: 2px; 
	width: 1270px; 
	text-align: right;
	}
#timer div { display: inline; }